.main{height:calc(100vh - 40px)}
.map{position: relative;}
.map-element{position:absolute;top:10px;left:10px;z-index:998;vertical-align:middle}
.map-address{vertical-align:middle}
.btn-auth-location{margin-left:10px;vertical-align:middle;line-height:16px}